/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';





*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar{
    width: 50%;
    display: flex;
    justify-content: space-around;
} */